{% extends 'shop/main.html' %}
{% load static %}


{% block content %}


<div class="row">


</div>

<br>
<div class="box-element">
    <div class="cart-row">
        <div style="flex:2"></div>
        <div style="flex:2"><strong>Produkt</strong></div>
        <div style="flex:1"><strong>Cena</strong></div>
        <div style="flex:1"><strong>Ilość</strong></div>
        <div style="flex:1"><strong>Razem</strong></div>
    </div>

{% for order_line in order.orderline_set.all %}
    <div class="cart-row">

            <div style="flex:2"><img class="row-image" src="{{order_line.product.imageURL}}" alt="product_img"></div>
            <div style="flex:2"><p>{{order_line.product.name}}</p></div>
            <div style="flex:1"><p>{{order_line.product.price}}</p></div>
            <div style="flex:1">
            <p class="quantity">{{order_line.quantity}}</p>
            <div class="cart_quantity">
<!--                    <input type="number" value="1" min="0"  name="quantity" required>-->
<!--                <img class="chg-quantity" src="{% static  'images/arrow-up.png' %}">-->
<!--                <img class="chg-quantity" src="{% static  'images/arrow-down.png' %}">-->

            </div>
        </div>


        <div style="flex:1"><p>{{order_line.get_total}} zł</p></div>
    </div>
    {% endfor %}
</div>

</div>

<button>
    <a class="btn btn-outline-dark" href="{% url 'shop:category' %}"> Kontynuuj zakupy</a>
</button>
</div>
{% endblock content %}