<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    {% if user.is_authenticated %}
        <h2>Jesteś zalogowany!</h2> {{ user }}
    {% else %}
            <form method="POST"> {% csrf_token %}
        <input type="text" name="username" placeholder="nazwa użytkownika">
        <input type="password" name="password" placeholder="hasło">
        <input type="submit" value="Zaloguj">
    </form>

    <button>
        <a href="{% url 'account:register' %}">Zarejestruj</a>
    </button>
    {% endif %}

</body>
</html>